* {
background-color: rgb(70, 48, 0);
color: white;
font-family: 'Raleway', sans-serif;
background: linear-gradient(to top, rgba(230, 226, 0, 0.123), rgba(102, 66, 0, 0.562)),
url(https://images7.alphacoders.com/288/288712.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

h1{
    font-family: 'Tilt Warp', cursive;
    text-align: center;
}

.menu .contenedor{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.nav__lista {
    display: flex;
    gap: 10.5rem;
}

